<body>
	<section id="up">
		<header>
			<div class="text-up">
				<a href="https://applicant.checkr.com/">I Am an Applicant</a>
				<a href="https://docs.checkr.com/">API and Docs</a>
				<a href="https://checkr.com/about/">About Us</a>
				<a href="https://checkr.com/careers/">Careers</a>
			</div>
			<div class="menu">
				<div class="style">
					<%= image_tag "https://checkr.com/wp-content/themes/checkr/assets/img/logo.svg", id: "Logo", width: 130, height: 33 %>				
					<ul>
						<li>
							<a href="https://checkr.com/product/">PRODUCT  </a>
							<ul class="list1">
								<li><a href="https://checkr.com/product/">Overview</a></li>
								<li><a href="https://checkr.com/product/screenings/">Screenings</a></li>
								<li><a href="https://checkr.com/product/compliance/">Compliance</a></li>
								<li><a href="https://checkr.com/product/security/">Security</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul>
						<li>
							<a href="https://checkr.com/product/">INDUSTRIES  </a>
							<ul class="list2">
								<li><a href="https://checkr.com/industries/">Overview</a></li>
								<li><a href="https://checkr.com/industries/contact-centers/">Contact Centers</a></li>
								<li><a href="https://checkr.com/industries/financial-services/">Financial Services</a></li>
								<li><a href="https://checkr.com/industries/retail-hospitality/">Retail and Hospitality</a></li>
								<li><a href="https://checkr.com/industries/healthcare/">Healthcare</a></li>
								<li><a href="https://checkr.com/industries/nonprofit/">Non Profit</a></li>
								<li><a href="https://checkr.com/industries/staffing/">Staffing</a></li>
								<li><a href="https://checkr.com/industries/on-demand-economy/">On-Demand Economy</a></li>
								<li><a href="https://checkr.com/industries/manufacturing/">Manufacturing</a></li>
								<li><a href="https://checkr.com/industries/software-and-technology/">Software and Technology</a></li>
								<li><a href="https://checkr.com/industries/small-business/">Small Business</a></li>
								<li><a href="https://checkr.com/industries/p2p-marketplaces/">P2P Marketplaces</a></li>
							</ul>
						</li>
					</ul>
					<ul>
						<li>
							<a href="https://checkr.com/product/">RESOURCES  </a>
							<ul class="list3">
								<li><a href="https://checkr.com/resources/">Overview</a></li>
								<li><a href="https://checkr.com/resources/white-papers/">Guides and White papers</a></li>
								<li><a href="https://checkr.com/resources/faq/">FAQ</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="Log">
					<div id="login">
						<a href="https://dashboard.checkr.com/login?next=%2Freports">LOG IN</a>
					</div>
					<div class="get-started">					
						<a href="https://checkr.com/contact-us/">GET STARTED</a>
					</div>
				</div>
			</div>
		</header>
		<start class="start">
			<div class="main-text">
				<h2>HIRE GREAT PEOPLE.</h2>
				<h2>FASTER.</h2>
				<p>Checkr provides modern and compliant background</p>
				<p>checks for global enterprises and startups.</p>
				<div class="explore-now">
					<a href="https://checkr.com/product/">EXPLORE NOW</a>
				</div>
			</div>
			<div id="video">
				<video src="https://checkr.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" autoplay="true" preload="auto" loop="true" poster="checkr/Checkr_Hero_poster.png">
				</video>
			</div>
		</start>
	</section>
</body>
